@import "reset.css";

main {
  background-color: #f5c084;

  p {
    font-size: 1.4rem;
  }

  a {
    color: #0303b7;
    font-weight: 600;
  }

  part-1 {
    display: block;
    background-image: url("assets/images/starfishes_seashells_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
    border-bottom: black 2px solid;

    .audio {
      width: 48%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      @media screen and (max-width: 600px) {
        width: 95%;
      }
    }

    header {
      background: rgba(27, 89, 89, 0.3);
      margin-bottom: 25px;

      h1, h2, p {
        margin-bottom: 10px;
      }

      h2 {
        color: #0303b7;

        &#noms {
          color: #9d0071;
          font-size: 2rem;
        }
      }

      h3 {
        font-size: 1.4rem;
      }

      img {
        width: 200px;
      }
    }

    .info {
      background: rgba(52, 58, 19, 0.3);
      border-radius: 25px;
      padding: 10px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      .map {
        margin: 20px auto;

        iframe {
          border: #f5c084 5px solid !important;
          border-radius: 20px;

          @media screen and (max-width: 600px) {
            width: 95%;
          }
        }
      }

      .images {
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          width: 200px;
          height: max-content;
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 20px;
        }
      }
    }

    header, .info {
      width: 48%;
      text-align: center;
      border-radius: 25px;
      padding: 10px;


      @media screen and (max-width: 900px) {
        width: 60%;
      }

      @media screen and (max-width: 666px) {
        width: 70%;
      }

      @media screen and (max-width: 600px) {
        width: 95%;
      }
    }
  }

  part-2 {
    display: block;
    padding: 20px;
    background-image: url("/assets/images/seashells_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 25px;
      background-color: rgba(40, 143, 99, 0.66);
      border-radius: 25px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 25%;

        .box {
          padding: 10px;
          border: black 3px double;

          &.accompagnement {
            ul {
              margin-bottom: 10px;
            }
          }
        }

        p {
          font-size: 1.3rem;
          margin-bottom: 10px;
        }

        li {
          font-size: 1.3rem;
          list-style: none;
        }

        img {
          width: 65%;
        }
      }

      img {
        width: 25%;
        border-radius: 25px;
      }

      @media screen and (max-width: 1000px) {
        flex-direction: column;

        .text {
          margin: 20px;
          width: 80%;
        }

        img {
          width: 50%;
        }
      }
    }

    .contribution {
      max-width: 800px;
      margin: 25px auto;
      background-color: rgba(0, 0, 139, 0.66);
      color: white;
      text-align: center;
      padding: 20px;
      border-radius: 20px;

      p:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    .hotel {
      max-width: 800px;
      margin: 25px auto;
      background-color: rgba(0, 139, 76, 0.66);
      color: white;
      text-align: center;
      padding: 20px;
      border-radius: 20px;

      h3 {
        margin-bottom: 25px;
        font-size: 1.5rem;
      }

      li {
        list-style: none;
        font-size: 1.3rem;
        text-align: left;

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }

    .merci {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      img {
        width: 30%;
        border-radius: 25px;

        &#jen-et-gil {
          border: #623503 4px solid;
        }

        &:nth-of-type(2) {
          border-radius: 25px;
        }

        @media screen and (max-width: 800px) {
          width: 80%;
        }
      }

      h2 {
        background-color: rgba(0, 0, 0, 0.53);
        color: #dc059f;
        font-size: 3rem;
        font-weight: 600;
        padding: 10px;
        border-radius: 15px;
      }
    }
  }
}
